body {
  padding: 0;
  margin: 0;
}

.board {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ships {
  margin:auto;
}

.setup {
  height: 100vh;
  background-color: #07A0C3;
}

.game-cell {
  min-height: 4vw;
  width: 4vw;
  border:1px black solid;
  box-sizing: border-box;
}

.empty {
  background-color: white;
}

.set {
  background-color: yellow;
  border: 1px yellow solid;
}

.hit {
  background-color: red;
  border: 1px red solid;
}

.left-screen {
  height: 100vh;
  width: 50vw;
  background-color: #07A0C3;
  float: left;
}

.right-screen {
  height: 100vh;
  background-color: #333;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
